<!DOCTYPE html>
<html>
<head>
<title>{$title} - 系统信息</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="__PUBLIC__/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="panel panel-default"  style="margin-top:1%;width:99%">
	<div class="panel-heading"><h3 class="panel-title">欢迎回来 {:$_SESSION['user_name']}</h3></div>
		<table class="table table-hover">
			<tr>
				<td>来访IP</td>
				<td>{:$_SERVER['REMOTE_ADDR']}</td>
			</tr>
			<if condition="!empty($last_login)">
			<tr>
				<td>上次登录IP</td>
				<td>{$last_login.login_ip}</td>
			</tr>
			<tr>
				<td>上次登录时间</td>
				<td>{:date('Y-m-d H:i:s', $last_login['login_time'])}</td>
			</tr>
			</if>
			<tr>
				<td>服务器IP</td>
				<td>{:$_SERVER['SERVER_ADDR']}:{:$_SERVER['SERVER_PORT']}</td>
			</tr>
			<tr>
				<td>网站域名</td>
				<td>{:$_SERVER['HTTP_HOST']}</td>	
			</tr>
			<tr>
				<td>Web服务器</td>
				<td>{:$_SERVER['SERVER_SOFTWARE']} {:$_SERVER['SERVER_PROTOCOL']}</td>
			</tr>
			<tr>
				<td>服务器目录</td>
				<td>{:$_SERVER['DOCUMENT_ROOT']}</td>
			</tr>

			<tr>
				<td>浏览器识别</td>
				<td>{:$_SERVER['HTTP_USER_AGENT']}</td>
			</tr>
		</table>
	<div class="panel-footer clearfix"><h3 class="panel-title pull-right">服务器信息</h3></div>
</div>
</body>
</html>
