<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{$title} - 网站信息</title>
<link href="__PUBLIC__/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
<style>
.input-group {padding-bottom: 10px;}
.pd626 {padding: 6px 26px}
.pd629 {padding: 6px 29px}
</style>
</head>
<body>

<form class="panel panel-default" action="" method="post" style="margin-top:1%;width:99%">
    <div class="panel-heading"><h3 class="panel-title">网站信息</h3></div>
        <div class="panel-body">
            <div class="input-group">
                <span class="input-group-addon">网站标题</span>
                <input type="text" class="form-control" name="title" placeholder="请输入网站标题" value="{$info.title}">
            </div>
            <div class="input-group">
                <span class="input-group-addon">公司名称</span>
                <input type="text" class="form-control" name="name" placeholder="请输入公司名称" value="{$info.name}">
            </div>
            <div class="input-group">
                <span class="input-group-addon pd626">主管</span>
                <input type="text" class="form-control" name="manager" placeholder="请输入主管" value="{$info.manager}">
            </div>
            <div class="input-group">
                <span class="input-group-addon pd626">电话</span>
                <input type="text" class="form-control" name="tel" placeholder="请输入电话" value="{$info.tel}">
            </div>
            <div class="input-group">
                <span class="input-group-addon pd626">传真</span>
                <input type="text" class="form-control" name="fax" placeholder="请输入传真" value="{$info.fax}">
            </div>
            <div class="input-group">
                <span class="input-group-addon pd629">QQ</span>
                <input type="text" class="form-control" name="qq" placeholder="请输入QQ" value="{$info.qq}">
            </div>
            <div class="input-group">
                <span class="input-group-addon pd626">邮箱</span>
                <input type="text" class="form-control" name="zipcode" placeholder="请输入邮箱" value="{$info.zipcode}">
            </div>
            <div class="input-group">
                <span class="input-group-addon pd626">厂址</span>
                <input type="text" class="form-control" name="address" placeholder="请输入厂址" value="{$info.address}">
            </div>
            <div class="input-group">
                <span class="input-group-addon ">公司简介</span>
                <textarea class="form-control" name="introduce" placeholder="请输入公司简介" style="height: 71px;">{$info.introduce}</textarea>
            </div>
        </div>
    <div class="panel-footer clearfix"><button type="submit" class="btn btn-primary pull-right">修改</button></div>
</form>
</body>
</html>
