<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{$title} - 后台管理</title>
<link href="__PUBLIC__/Admin/Css/login.css" rel="stylesheet" type="text/css" />
</head>

<body class="loginbody">
<form name="form1" method="post" action="/{:('Admin/User/Login')}" id="form1">
<div class="login-screen">
	<div class="login-icon">LOGO</div>
    <div class="login-form">
        <h1>系统管理登录</h1>
        <div class="control-group">
            <input name="user_name" type="text" id="txtUserName" class="login-field" placeholder="用户名" title="用户名" />
            <label class="login-field-icon user" for="txtUserName"></label>
        </div>
        <div class="control-group">
            <input name="password" type="password" id="txtPassword" class="login-field" placeholder="密码" title="密码" />
            <label class="login-field-icon pwd" for="txtPassword"></label>
        </div>
        <div><input type="submit" name="btnSubmit" value="登 录" id="btnSubmit" class="btn-login" /></div>
        <span class="login-tips"><i></i><b id="msgtip">请输入用户名和密码</b></span>
    </div>
    <i class="arrow">箭头</i>
</div>
</form>
</body>
</html>